node_modules/
# packages have their own dist folders
dist/
# coverage (which is global as per vitest being run from root?)
coverage/
# cache directory - volatile
/cache/
# NX_CLOUD_ACCESS_TOKEN
nx-cloud.env